.post-box {
    width: 600px;
    min-height: 200px;
    margin: 10px auto;
    background-color: #cccccc;
  }
  
  .post-cap {
    width: 100%;
    height: 30px;
    background-color: #888888;
  }

  .decoration {
    float: right;
    cursor: pointer;
  }
