#post-form {
    /*border: 1px solid;*/
    height: 300px;
    width: 400px;
    margin: 30px auto;
  }
  
  #editor {
    resize: none;
    height: 250px;
    width: 100%;
    box-sizing: border-box;
  }
  #submit-box {
    text-align: right;
    /*border: 1px solid;*/
  }
  